[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
drf-yasg = "*"
model-bakery = "*"
djangorestframework = "*"
django-filter = "*"
drf-multiple-serializer = "*"
django-ordered-model = "*"
jmespath = "*"
requests = "*"
django-rest-framework-social-oauth2 = "*"
django-cors-headers = "*"
django-sslserver = "*"
django-storages = "*"
django-heroku = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
