[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
drf-yasg = "*"
model-bakery = "*"
djangorestframework = "*"
django-filter = "*"
drf-multiple-serializer = "*"
django-ordered-model = "*"
jmespath = "*"
requests = "*"
django-rest-framework-social-oauth2 = "*"
django-cors-headers = "*"
django-sslserver = "*"
django-storages = "*"
pillow = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-heroku = "*"
boto3 = "*"
celery = "*"
django-celery-results = "*"
redis = "*"
django-ses = "*"
django-sms = "*"
twilio = ">=6.0.0,<6.51.0"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.9"
